* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

main{
    background-color: rgb(255, 0, 64);
    padding-top: 50px;
}


.cell {
    border: 1px red solid;
}

.cell-10{
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.cell-8{
    height: calc(100% / 9) ;
    width: calc(100% / 9) ;
}

.cell-5{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

#grid-container{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
}

.bg-blue{
    background-color: lightblue;
    cursor: pointer;
}