* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cell {
    border: 1px red solid;
}

.cell-10{
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.cell-8{
    height: calc(100% / 9) ;
    width: calc(100% / 9) ;
}

.cell-5{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

#grid-container{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
}

.bg-blue{
    background-color: lightblue;
    cursor: pointer;
}